<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<form action="/ContactManagerApp/ContactServlet" method="post" >

Contact Num : <input type="number" name="contactNumber"> <br>
Contact Name : <input type="text" name="contactName"> <br>
Contact Email : <input type="email" name="email"> <br>
Contact Address : <input type="text" name="address"> <br>

<button type="submit"  name="action" value="add">Add Contact</button>

</form>


</body>
</html>