<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1 style="color:blue"> Welcome to Contact Manager Login </h1>
	<form action="/ContactManagerApp/DashboardServlet" method="post">
	
		USER NAME : <input type="text" name="userName"> <br>
		PASSWORD : <input type="password" name="password"> <br>
		
		<button type="submit">Login</button>  <br>
		
		
		<a style="color:red"  href="view/register.html">New User Registration</a>
	
	
	</form>


</body>
</html>